# Created by .gitignore support plugin (hsz.mobi)
### Yii template
.idea/*
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
#protected/data/*.db
themes/classic/views/
yii-1.1.16/*


### Linux template
*~

# KDE directory preferences
.directory


